<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sophie.library">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchUserActivity"
            android:label="@string/searchactivity_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sophie.library.MainActivity" />
        </activity>
        <activity
            android:name=".SearchUserByActivity"
            android:label="@string/search_first_activity"
            android:parentActivityName=".SearchUserActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sophie.library.SearchUserActivity" />
        </activity>
        <activity
            android:name=".ListUsersActivity"
            android:label="@string/title_activity_list_users" />
        <activity
            android:name=".AddUserActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RemoveUserActivity" />
        <activity android:name=".ListBooksActivity" />
        <activity android:name=".SearchBookActivity" />
        <activity
            android:name=".SearchBookByActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddBookActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".RemoveBookActivity" />
        <activity
            android:name=".BorrowBookActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ReturnBookActivity" />
        <activity
            android:name=".CheckLoansActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ListBooksOnLoanActivity" />
        <activity android:name=".ListBooksNotLoanedActivity" />
        <activity android:name=".ListUsersWithLoansActivity"></activity>
    </application>

</manifest>